<!doctype html>
<html>
  <head>
    <title>W6D1 Demo</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <div id="landing">
      <a href="/">Home</a> <a href="/about">About</a> <a href="/contact">Contact</a>
      <%= yield %>
    </div>
  </body>
</html>
